@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #e8e8e8;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: #e8e8e8;
}
.iconx{
  transition: all 300ms ease;
}
.iconx:hover{
  transform: scale(1.1);
  opacity: 80%;
  cursor: pointer;
}

.icon{
  transition: all 300ms ease;
}
.icon:hover{
  transform: scale(1.2);
  opacity: 80%;
  cursor: pointer;
}
.card__row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;

}
/*CARD*/

.card__container{
  padding: 24px;
  width: 33%;
  min-width: 366px;
  max-width: 400px;
}

.card__background1{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #ce3566, #f37272);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
.close__icon{
  position: absolute;
  top: 24px;
  right: 24px;
  font-size: 30px;
}
.img__wrapper{
  height: 75px;
  margin: 12px 0;
}
.avatar{
  width: 100%;
  height: 100%;
  border-radius: 20px ;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
}
.avatat__icon{
  z-index: 1;
  position: absolute;
  top: 115px;
  right: 125px;
  font-size: 24px;
  background-color: white;
  border-radius: 9999px;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.name, .title{
  letter-spacing: 2px;
}
.title{
  font-size: 10px;
  text-transform: uppercase;
  color: #e3e3e3;
  margin: 8px;
}
.id__wrapper{
  font-size: 12px;
  font-weight: 500;
  border: 2px solid lightgray;
  border-radius: 20px;
  padding: 6px 12px;
  background-color: rgba(0,0,0,0.2);
  margin-top: 4px;
}
.small__info--card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80px;
  width: 90%;
  position: relative;
  top: -40px;
  background-color: #363636 ;
  z-index: 1;
  border: 1px solid #333;
  border-radius: 20px;
}
hr{
  height: 40px;
  border: 1px solid #acacac
  ;
}
.small__info--card--half{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}
.line__one{
  font-size: 14px;
  font-weight: 700;
}
.line__two{
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: #acacac;
  margin: 4px 0;
  letter-spacing: 0.5px;
}
.card__background2{
  background-color: #2c2c2c;
  position: relative;
  top: -80px;
  height: 624px;
  overflow: hidden;
}
.contact__wrapper{
  padding-top: 50px;
}
.contact__details{
  padding-left: 30px;
  text-align: left;
  width: 80%;
}
.contact__about{
  min-height: 160px;
}
h4{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #acacac;
  margin: 10px 0 2px 0;
  letter-spacing: 0.5px;
}
.details{
  font-size: 12px;
  font-weight: 700;
}
.cap__icon{
  background: linear-gradient(to top, #ce3566, #f37272);
  border-radius: 9999px;
  font-size: 20px;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 12px 0 30px;
}
.current--course__wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  margin: 16px 0;
  background-color: #333333;
  border: 1px solid #333;
  border-radius: 20px;
}
.course__h4{
  margin: 0;
  color: #e8e8e8;
  text-transform: none;
}
.arrow__icon{
  font-size: 24px;
  margin: 0 0 0 34px;
}
.photos__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 16px 0;
  background-color: #333333;
  border: 1px solid #333;
  border-radius: 20px;
}
.photos__row{
  padding: 0 30px;
}
.photos__wrapper--heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;}

  .down__arrow{
    font-size: 24px;
  }
  
.images{
  height: 80%;
  display: flex;
}
.image__wrapper1{
  height: 100%;
  width: 50%
}
.images__right--side{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.image__wrapper2{
  width: 100%;
  height: 50%;
}
.image__wrapper3--4{
  display: flex;
  width: 50%;
  height: 50%;
  position: relative;
}
.image__wrapper1, .image__wrapper2, .image__wrapper3--4{
  padding: 4px;
}
.photo{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.image__3, .image__4{
  width: 100%;
  height: 100%;
  border-radius: 10px;  
}
.image__4{
  opacity: 30%;
  margin-left: 4px;
}
.image__right--arrow{
  position: absolute;
  z-index: 1;
  top: 36px;
  right: -36px;

}
