@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.nav__container{
    min-height: 100px;
    background-color: #333333;
    max-width: 1300px;
    margin: 0 auto;
}
.nav__row{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo__img{
  height: 50px;
  margin: 12px;
}
.nav__links{
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
  list-style-type: none;
}
.nav__link{
  color: #E6126a;
  padding: 0 12px;
  transition: all ease 300ms;
}
.nav__link:hover{
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}
.nav__btn{
  background-color: #E6126a;
  color: #e8e8e8;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  transition: all ease 300ms;
  margin: 0 12px;
}
.nav__btn:hover{
  transform: scale(1.1);
  opacity: 80%;
  cursor: pointer;
}